# Tabular models

In [1]:
from google.colab import drive #mount drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
from fastai.tabular import * #import tabular library

Tabular data should be in a Pandas `DataFrame`.

In [3]:
path = untar_data(URLs.ADULT_SAMPLE) #dl data
df = pd.read_csv(path/'adult.csv') #read it in pandas

Downloading http://files.fast.ai/data/examples/adult_sample

In [0]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race'] #categories
cont_names = ['age', 'fnlwgt', 'education-num'] 
procs = [FillMissing, Categorify, Normalize]

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names) #make a tabular list from the pandas variable

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000))) #split
                           .label_from_df(cols=dep_var) #label = salary
                           .add_test(test) #test set made in the previous cell
                           .databunch())

In [8]:
data.show_batch(rows=10) #let's see the first 10 rows

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy) #learner with layer group of [200, 100]

In [10]:
learn.fit(1, 1e-2) #fit

## Inference

In [0]:
row = df.iloc[0] #select row

In [12]:
learn.predict(row)

(Category >=50k, tensor(1), tensor([0.3067, 0.6933]))